@import "./colors.scss";

body {
	background-color: $main;
	font-family: 'Cinzel', serif;
	color: $white;
	font-size: 16px;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	
}
body,html{
	height: 100%;
}
h1,h2,h3,h4,h5,h6,p{
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 24px;
}
*{
	box-sizing: border-box;
}
image{
	max-width: 100%;
	height: auto;
}
input, button{
	border: none;
	background: none;
	outline: none;
	color: $white;
	font-size: 16px; 
	font-family: "Rubik", sans-serif;
}
a{
	color: $white;
	text-decoration: none;
}
ul,li{
	padding: 0;
	margin: 0;
	list-style: none;
}
.container{
	width:90%;
	margin: 0 auto;
	
}
.title{
	font-size: 40px;
	font-weight: 700;
	color: $hover-color;
}