@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;800&display=swap");
@import "./colors.scss";
@import "./reset.scss";

.section {
	&-main {
		position: relative;
		height: 100vh;
		&:after,
		&:before {
			content: "";
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		&::after {
			background: url("../images/sectionHeader/backgroundFlash.gif") no-repeat right/cover;
			opacity: 0.1;
		}
		&::before {
			background: url("../images/sectionHeader/background.webp") no-repeat top/cover;
			// background-size: auto;
		}
	}
}

.header {
	height: 90px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	&-left__section {
		display: flex;
		align-items: center;
		gap: 100px;
	}
	&-logo {
		width: 15%;
		cursor: pointer;

		img {
			width: 100%;
		}
	}
	ul {
		display: flex;
		justify-self: start;
		align-items: center;
		gap: 25px;
		letter-spacing: 1.2px;
	}
}

.header-menu {
	&__link {
		cursor: pointer;
		transition: color 0.2s ease-in;
		position: relative;

		&:hover {
			color: $hover-color;
			&::after {
				width: 100%;
				transition: width 0.4s ease;
			}
		}
		&:after {
			transition: width 0.4s ease;
			content: "";
			position: absolute;
			height: 1px;
			background: $hover-color;
			left: 0;
			bottom: -5px;
			width: 0%;
		}
	}
	&__langs {
		position: absolute;
		padding: 20px;
		background-color: transparentize($color: $main, $amount: 0.1);
		border-radius: 10px;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	.lang {
		position: relative;

		&::after {
			height: 0;
			width: 0;
		}
		&:hover {
			.header-menu__langs {
				transition: opacity 0.3s ease;
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&__lang-item {
		margin-bottom: 10px;
		font-size: 14px;
		cursor: pointer;
		color: $white;
		transition: color 0.2s ease;

		&:hover {
			color: $hover-color;
		}
		&:last-child {
			margin: 0;
		}
	}
}

.current-lang {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	transition: color 0.2s ease;
	&:hover {
		color: $hover-color;
		.current-lang__icon {
			transform: rotate(180deg);
		}
	}
	&__icon {
		width: 10px;
		transition: transform 0.3s ease;
	}
}
.header-timer {
	display: flex;
	align-items: center;
	gap: 20px;
	position: relative;
	color: transparentize($color: $white, $amount: 0.4);
	span {
		color: transparentize($color: $hover-color, $amount: 0.4);
	}
	&__values {
		display: flex;
		align-items: end;
		gap: 20px;
	}

	&__item {
		position: relative;
	}

	&__item-value {
		font-size: 40px;
		font-weight: 700;
	}

	&__item-info {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		font-weight: 200;
	}
}
.description {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 40vw;
	align-items: center;
	.left-content {
	}
	img {
		animation: logo 3s infinite;
		width: 60%;
	}
	@keyframes logo {
		50% {
			transform: translateY(-5%);
		}
		100% {
			transform: translate(0%);
		}
	}
	&-title {
		font-size: 25px;
		font-weight: 100;
		text-transform: uppercase;
		margin-bottom: 20px;
		position: relative;
		background-image: linear-gradient(
			90deg,
			transparent,
			rgba(0, 0, 0, 0.35) 10%,
			rgba(0, 0, 0, 0.35) 90%,
			transparent
		);
		color: $hover-color;
		padding: 20px;
		&::after,
		&::before {
			content: "";
			position: absolute;
			height: 1px;
			left: 0;
			right: 0;
			background-image: linear-gradient(90deg, rgba(81, 162, 191, 0), $hover-color, rgba(191, 162, 81, 0));
		}
		&:after {
			bottom: 0;
		}
		&:before {
			top: 0;
		}
	}
	&-subtitle {
		margin-bottom: 20px;
		color: $hover-color;
		font-size: 15px;
	}
	&-button {
		width: 474px;
		height: 76px;
		background-color: inherit;
		border: none;
		cursor: pointer;
		font-family: Alegreya, serif;
		font-size: 32.25px;
		font-weight: 500;
		line-height: 1.3;
		letter-spacing: 1.613px;
		text-transform: uppercase;
		position: relative;
		cursor: pointer;
		transition: all 0.3s ease;
		color: transparentize($color: $main, $amount: 0.2);
		&::before {
			content: "";
			position: absolute;
			width: inherit;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			background: url("../images/sectionHeader/button.webp");
		}

		&:hover {
			transform: scale(1.05);
		}
	}
}
  

//PVP
.section {
}
.section-pvp {
	color: #fff;
	height: 100vh;
	position: relative;
	&:after,
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&::after {
		background: url("../images/sectionPvp/circleMove.svg") no-repeat center/auto, url('../images/sectionPvp/backgroundPvp.webp') no-repeat center/cover,#1b1b1a;
		
	}
	&::before {
		
	}
}
.pvp-text {
	width: 30%;
	position: absolute;
	text-align: center;
	color: $hover-color;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.pvp-title {
	margin-bottom: 20px;
}
.pvp-description {
	font-size: 20px;
}
// CHARACTERS
.section {
	
}
.section-characters {
	height: 100vh;
	position: relative;
	
	&:after, &:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
	}
	&::before{
		background:#1b1b1ad6;
	}
}
.icon{
fill: $hover-color;
width: 35px;
height: 35px;
margin-bottom: 20px;

}
.character{
	
	&-title{
		margin-bottom: 20px;
	}
	&-class__title{
		margin-bottom: 20px;
		position: relative;
	}
	
	&-row {
		display: grid;
		cursor: pointer;
		grid-template-columns: repeat(6,1fr);
		gap: 20px;
		height: 50vw;
		
	}
	&-class {
		// display: none;
		border: 1px solid transparentize($color: $hover-color, $amount: 0.7) ;
		border-radius: 10px;
		overflow: hidden;
		text-align: center;
		padding: 20px;
		position: relative;
		transition: transform .3s ease;
		&::before {
			transition: all .8s ease;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(0deg, rgba(213, 10, 10, 0) 60%, rgb(0, 0, 0) 100%);
			width: 100%;
			height: 100%;
		}
			&__title {
				font-size: 25px;
				font-weight: 100;
			}
	
			&__description {
				color: $hover-color;
				position: relative;
				opacity: 0;
				transition: all .4s ease;
			}
			&:hover{
				transform: translateY(-2%);
				transition: transform .3s ease;
				.character-class__description{
					transition: all .8s ease;
					opacity: 1;
					transition: all .8s ease;
				}
				&::before{
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.672);
					transition: all .3s ease;
				}
			}
			
	}
	
}




.warrior {
	background: url('../images/sectionClass/warrior.jpg') center/cover;
}
.wizard {
	background: url('../images/sectionClass/wizard.jpeg') -250px center/cover;
}
.robber {
	background: url('../images/sectionClass/robber.jpeg')  left/cover
}
.bard {
	background: url('../images/sectionClass/bard.jpeg')  300px center/cover;
}
.priest {
	background: url('../images/sectionClass/priest.jpeg')  center/cover;
}
.sorcerer{
	
	background: url('../images/sectionClass/sorcerer.jpg') center/cover;
	
}
